# grumphp.yml
grumphp:
    tasks:
        composer:
            strict: true
        composer_require_checker: ~
        phpcsfixer2:
            allow_risky: true
            config: .php_cs
        phpstan:
            memory_limit: 768M
