return array(
    'oauth2server' => array(
        // 'storage_class' => '\Custom\Storage',
        // 'authorize_form_class' => '\Custom\AuthorizeForm',
        // 'server_config' => array(
        //     'access_lifetime'          => 3600,
        //     'www_realm'                => 'Service',
        //     'token_param_name'         => 'access_token',
        //     'token_bearer_header_name' => 'Bearer',
        //     'enforce_state'            => true,
        //     'require_exact_redirect_uri' => true,
        //     'allow_implicit'           => false,
        //     'allow_credentials_in_request_body' => true,
        // ),
    ),
);
